@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&display=swap');

:root {
  --colour1: #f3e9d2;
  --colour2: #88d498;
  --colour3: #1a936f;
  --colour4: #114b5f;
  --greyColour1: #333;
}

* {
  box-sizing: border-box;
}
body {
  background-color: var(--greyColour1);
  font-family: 'Dancing Script', serif;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header {
  font-size: 45px;
  margin-top: 10px;
  letter-spacing: 5px;
  color: var(--colour1);
}

.container--books {
  margin: 40px 15px;
  width: 90%;

  display: grid;
  grid-template-columns: repeat(6, 1fr);

  padding: 20px;
  transform-origin: top right;
  transform: skewY(-4.398705355deg);
}

.container--book {
  display: grid;
  height: 400px;
  grid-template-rows: repeat(4, 1fr);

  box-shadow: 33px 33px 8px -4px rgba(0, 0, 0, 0.74);

  align-items: center;
  padding: 10px;
  margin: 10px;
  transform-origin: top left;
  transform: skewY(4.398705355deg) rotatez(14.03624deg);
}

.container--book:hover {
  z-index: 4;
}

.book {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  box-shadow: inset 0px 0px 0px 40vw #fcf8f4;

  filter: drop-shadow(2px 6px 3px rgba(0, 0, 0, 0.4));
  transform: rotate(0deg) translate(0, 0);
  transition-property: transform;
  transition-duration: 0.3s;
  overflow: hidden;
}
.book::before {
  content: url('./book-outline.svg');

  font-size: 10px;
  opacity: 0.05;
}
.book:hover {
  transform: rotate(-14.03624deg) translate(5.5%, 15%) scale(1.3);
}

.title,
.author,
.genre,
.check {
  position: absolute;
  z-index: 4;
  left: 5%;
  font-size: 2rem;
  padding: 3px;
}
.title {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 20px;
  top: 9%;
}

.author {
  font-style: oblique;
  top: 35%;
}

.genre {
  bottom: 20%;
}

.check {
  bottom: 8%;
}

.btn--delete {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: inherit;
  width: 20%;

  border: none;
  top: 1%;
  right: 1%;
  cursor: pointer;
  transition: all 0.4s ease;
}
.btn--delete object {
  cursor: pointer;
}
.btn--delete:hover {
  transform: translateY(3px);
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.4);
}

/* Adding a book button */
#newBookBtn--container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

#newBookBtn {
  position: fixed;
  bottom: 5%;
  right: 1%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  font-size: 25px;
  border-radius: 10px;
  border: solid 3px black;
}

/* Modal popup box  https://www.w3schools.com/howto/howto_css_modals.asp */

/* The Modal (background) */

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
#form {
  position: relative;
  background-color: #fefefe;
  margin: 5% auto;
  padding: 50px;
  border: 1px solid #888;
  width: 40%;
  border-radius: 20px;
}

#form input[type='text'] {
  outline: none;
  box-sizing: border-box;

  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 1%;
  color: #555;
  font-size: 30px;
}
#form input[type='text']:focus {
  box-shadow: 0 0 5px #43d1af;
  padding: 4%;
  border: 1px solid #43d1af;
}
/* Customize the label (the container) */
.checkbox--container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox--container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox--container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox--container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox--container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox--container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* The Close Button */
.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* Modal Buttons */
.btn--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
button:focus {
  outline: 0;
}

.btn {
  cursor: pointer;
  font-size: 20px;
  height: 35px;
  width: 110px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: solid 3px black;
}

@media screen and (max-width: 1900px) {
  .container--books {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (max-width: 1700px) {
  .container--books {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 1200px) {
  .container--books {
    grid-template-columns: repeat(3, 1fr);
    margin: 10px;
  }
  #form {
    width: 55%;
  }
}
@media screen and (max-width: 850px) {
  .container--books {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 70px;
  }
  #form {
    width: 65%;
    margin-top: 25%;
    padding: 20px;
  }
  #form input[type='text'] {
    padding: 3%;
  }
}
@media screen and (max-width: 600px) {
  .container--books {
    display: block;
  }
  #form {
    width: 98%;
  }
}
